:root {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  background-attachment: fixed;
  --light-purple: rgb(232, 233, 251);
  --dark-blue: #253d66;
  --pink: #fa7560;
  --light-blue: rgb(222, 233, 241);
}

.container-app {
  padding: 55px 60px;
  margin: 60px auto;
  width: 60%;
  border-radius: 20px;
  background: white;
  box-shadow: 0 30px 50px rgba(42, 149, 232, 0.2);
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin-top: 52px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
