.Footer {
  margin-top: 40px;
}

p {
  margin: 0 auto;
  font-weight: 200;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: var(--pink);
  transition: all 200ms ease-in-out;
}

a:hover {
  cursor: pointer;
  color: var(--dark-blue);
}
