p {
  margin: 0 auto;
  font-weight: 200;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #405983;
  transition: all 200ms ease-in-out;
}

a:hover {
  cursor: pointer;
  color: #fa7560;
}
