h1,
h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin-top: 52px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

form {
  text-align: center;
}

#city-name {
  background-color: white;
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
  font-size: 22px;
  transition: all 200ms ease-in-out;
  padding: 10px;
}

#city-name:hover {
  border: 1px solid var(--pink);
}

#enter {
  background-color: var(--dark-blue);
  border: 1px transparent solid;
  border-radius: 5px;
  font-size: 22px;
  color: white;
  transition: all 200ms ease-in-out;
  padding: 10px;
}

#enter:hover {
  border: 1px solid var(--pink);
  background-color: var(--pink);
  color: white;
  cursor: pointer;
}

.temperature-data {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.temperature-actual {
  margin: 0 20px;
  font-size: 44px;
  font-weight: 500;
  line-height: 1.3;
  display: flex;
  align-items: center;
}

.icon-image {
  padding: 0 auto;
  margin: 0 15px;
  display: flex;
  text-align: center;
}

.degrees-data {
  display: flex;
  align-items: center;
}

.degrees {
  font-size: 29px;
  font-weight: 300;
  color: var(--dark-blue);
  margin: 0 5px;
}

.degrees-bold {
  font-weight: 600;
}

.more-data {
  margin: 0 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.3;
}

.more-data strong {
  color: var(--pink);
}
